<!DOCTYPE>
<html>
  <head>

  </head>

  <header>
  </header>

  <body>
    <ol>
      <% @medicines.each do |medicine| %>
        <ls><%= medicine.name %></ls>
      <% end %>
    </ol>
  </body>
</html>
